@import "setup";

.form-row {

	input,
	textarea {
		@include rounded($small-border-radius);
		box-sizing: border-box;
		width: 100%;
		height: 45px;
		border-style: none; 
		padding: 10px;
		font-size: 1.1em;
	} 

	textarea {
		height: 120px;
	}

	.error-alert-row {
		display: none;
		@include rounded($small-border-radius);
		color: $error-message-color;
		text-align: center;
		border: 1px solid $error-message-color;
		background-color: $error-bg-color;
		padding: 10px; 
 
	}

	.error-detected {
		color: $error-message-color;
		border-radius: $small-border-radius $small-border-radius 0 0 ;
		border: 1px solid $error-message-color; 
		border-bottom: none;
	}

	.error-container {
		display: none;
		position: relative;
		top: 0;
		border-radius: 0 0 $small-border-radius $small-border-radius;
		border: 1px solid $error-message-color; 
		background-color: $error-bg-color;
		font-style: italic;
		color: $error-message-color;
		padding: 10px; 
	}

	.send-button {
		background-color: $success-highlight-color;
		color: #ffffff;
		font-weight: bold;
		&:hover {
			background-color: #46AA22;
		}
	}
}

.success-row {
	@extend %feedback-row;
	background-color: $success-bg-color;
}

.error-row {
	@extend %feedback-row;
	background-color: $error-bg-color;
}
